#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Force matplotlib to use the Agg plugin
export MPLCONFIGDIR=$(CURDIR)/build

%:
	dh $@ --buildsystem pybuild --with python2,sphinxdoc

override_dh_auto_test:
	# Done after install because numpy's build system doesn't copy data into
	# the build dir

override_dh_auto_install:
	dh_auto_install
	cp debian/matplotlibrc build
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	pybuild --test -p $(shell pyversions -vr) --system=custom \
		--test-args 'cd $(CURDIR)/debian/tmp/{install_dir} && {interpreter} -m nose --with-doctest --exclude=skimage.viewer'
endif
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	PYTHONPATH=$(CURDIR)/debian/tmp/usr/lib/$(shell pyversions -d)/dist-packages \
		$(MAKE) html -C $(CURDIR)/doc
endif

override_dh_auto_clean:
ifeq (,$(filter noclean,$(DEB_BUILD_OPTIONS)))
	rm -rf build doc/build doc/auto_examples *-stamp skimage.egg-info
	dh_auto_clean
endif

override_dh_installdocs:
	dh_installdocs -A CONTRIBUTORS.txt README.md CONTRIBUTING.txt TASKS.txt

override_dh_python2:
	dh_python2
	dh_numpy

override_dh_compress:
	dh_compress -X.py -X.ico
